body {
    font-family: Arial;
    background-color: black;
    font-weight: 500;
}
h1 {
    font-weight: 800;
}
.container {
    display: flex;
}
.box{
    width: 100%;
    text-align: center;
}

#box1 {
    background-color: lightseagreen;
    height: 80px;
}

#box2a {
    background-color: lightseagreen;
    height: 750px;
    width: 200px;
}
#box2 {
    background-color: green;
    height: 750px;
    display: flex;
    border: 2px solid black;
}
#box2b {
    background-color: lightseagreen;
    height: 750px;
    width: 200px;
}

#box3 {
    background-color: lightseagreen;
    height: 80px;
}

.choice {
    margin-top: 50px;
}

.EtchBox {
    background-color: white;
    width: 100%;
    height: 30px;
}

.boxE {
    flex: 1;
}

#btn {
    margin-top: 40px;
    height: 40px;
    width: 100px;
}

#colorPaleteControl {
    display: flex;
}

#colorPalete {
    flex: 1;    
}

.colors {
    margin-left: 10px;
    margin-top: 30px;
    height: 30px;
    width: 30px;
    border: 2px black solid;
}

#mainColor {
    height: 100px;
    width: 100px;
    border: 6px solid black;
    margin-left: 30px;
    margin-top: 30px;
    background-color: black;
}

#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#black {
    background-color: black;
}
#gray {
    background-color: gray;
}
#yellow {
    background-color: yellow;
}
#pink {
    background-color: pink;
}
#purple {
    background-color: purple;
}
#orange {
    background-color: orange;
}

